<section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Liên hệ</h2>
        <p>Chúng tôi luôn sẵn lòng hỗ trợ bạn. Hãy liên hệ với chúng tôi nếu bạn cần thêm thông tin hoặc có bất kỳ câu hỏi nào.</p>
      </div>

    </div>

    <div>
      <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.6206513715097!2d105.82537510928287!3d21.007838188419043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac806cfc0845%3A0x3848505bd3b9490f!2zMTIgUC4gQ2jDuWEgQuG7mWMsIFF1YW5nIFRydW5nLCDEkOG7kW5nIMSQYSwgSMOgIE7hu5lpIDEwMDAwMCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1714395133789!5m2!1svi!2s" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="container">

      <div class="row mt-5">

        <div class="col-lg-6">

          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>Địa chỉ của chúng tôi</h3>
                <p>12 Chùa Bộc, Quang Trung, Đống Đa, Hà Nội</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-envelope"></i>
                <h3>Email</h3>
                <p>Medicare@gmail.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-phone-call"></i>
                <h3>Liên hệ</h3>
                <p>090 7676 195</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">
          <form action="/forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Tên của bạn" required="">
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email của bạn" required="">
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Chủ đề" required="">
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="7" placeholder="Tin nhắn" required=""></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Đang tải</div>
              <div class="error-message"></div>
              <div class="sent-message">Tin nhắn của bạn đã được gửi. Cảm ơn bạn!</div>
            </div>
            <div class="text-center"><button type="submit">Gửi tin nhắn</button></div>
          </form>
        </div>

      </div>

    </div>
  </section>