<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="fas fa-heartbeat"></i></div>
                <h4 class="title"><a href="">Xét nghiệm sinh hóa</a></h4>
                <p class="description">Xét nghiệm chẩn đoán y học dựa trên phân tích các chất hóa học trong máu.</p>
            </div>
        </div>
    
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="fas fa-pills"></i></div>
                <h4 class="title"><a href="">Xét nghiệm nhanh COVID-19</a></h4>
                <p class="description">Thông qua phân tích mẫu bệnh phẩm (như mẫu nước bọt hoặc dịch nhầy) trong thời gian ngắn.</p>
            </div>
        </div>
    
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="fas fa-thermometer"></i></div>
                <h4 class="title"><a href="">Xét nghiệm nhanh huyết áp</a></h4>
                <p class="description">Xác định áp suất máu tại nhà hoặc trong các phòng khám.</p>
            </div>
        </div>
    
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="fas fa-dna"></i></div>
                <h4 class="title"><a href="">Xét nghiệm gen</a></h4>
                <p class="description">Xét nghiệm gen chẩn đoán hoặc điều trị các bệnh có liên quan đến gen.</p>
            </div>
        </div>
    
      </div>

    </div>
</section>