<section id="features" class="features">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right">
                <div class="icon-box mt-5 mt-lg-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Dịch vụ y tế</h4>
                    <p>Chúng tôi cung cấp các dịch vụ y tế chăm sóc sức khỏe toàn diện, bao gồm các loại xét nghiệm, kiểm tra và điều trị bệnh.</p>
                </div>
                <div class="icon-box mt-5">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Chất lượng cao</h4>
                    <p>Chất lượng dịch vụ được đảm bảo với đội ngũ bác sĩ và nhân viên y tế có kinh nghiệm và tận tâm.</p>
                </div>
                <div class="icon-box mt-5">
                    <i class="bx bx-images"></i>
                    <h4>Công nghệ tiên tiến</h4>
                    <p>Chúng tôi sử dụng công nghệ tiên tiến nhất trong việc xét nghiệm và chẩn đoán bệnh, giúp đưa ra kết quả chính xác và nhanh chóng.</p>
                </div>
                <div class="icon-box mt-5">
                    <i class="bx bx-shield"></i>
                    <h4>An toàn và tin cậy</h4>
                    <p>Chúng tôi cam kết đảm bảo an toàn và tin cậy cho mọi bệnh nhân trong quá trình điều trị và chăm sóc sức khỏe.</p>
                </div>
            </div>
            <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("./assets/img/features.jpg");' data-aos="zoom-in"></div>
        </div>
    </div>
</section>