<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Medicare</h3>
              <p>
                12 Chùa Bộc, <br>
                Đống Đa, Hà Nội<br><br>
                <strong>Điện thoại:</strong> (+84) 90 7676 195<br>
                <strong>Email:</strong> vutham2204@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Chi tiết website</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Trang chủ</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Giới thiệu</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Chuyên khoa</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Bác sĩ</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Liên hệ</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Về Medicare</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Giới thiệu</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Điều khoản dịch vụ</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Chính sách bảo mật</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Quy định sử dụng</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Hòm thư của chúng tôi</h4>
            <p>Đăng ký để nhận những cập nhật mới nhất về dịch vụ và thông tin y tế.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Đăng ký">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Medicare</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">Medicare</a>
      </div>
    </div>
  </footer>