<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
          <div class="container">
            <h2>Chào mừng đến với <span>Medicare</span></h2>
            <p>Chúng tôi rất vui được chăm sóc sức khỏe của quý vị. Tại đây, chúng tôi cam kết cung cấp dịch vụ y tế chất lượng, chu đáo và chuyên nghiệp nhất để mang lại sự an tâm và hài lòng cho quý khách.</p>
            <a href="about.html" class="btn-get-started scrollto">Xem thêm</a>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)">
          <div class="container">
            <h2>Thiết bị y tế hiện đại</h2>
            <p>Phòng khám Medicare trang bị đầy đủ các thiết bị và máy móc y tế tiên tiến nhất, đảm bảo rằng chúng tôi có thể cung cấp các dịch vụ chăm sóc sức khỏe tốt nhất cho quý khách hàng. Từ các máy siêu âm và máy X-quang hiện đại cho đến các thiết bị đo lường và chẩn đoán tiên tiến, chúng tôi luôn đầu tư vào công nghệ y tế để đảm bảo quý vị nhận được phân tích chính xác và điều trị hiệu quả nhất.</p>
            <a href="about.html" class="btn-get-started scrollto">Xem thêm</a>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg)">
          <div class="container">
            <h2>Bác sĩ tận tâm, nhiệt tình</h2>
            <p>Chúng tôi tự hào có đội ngũ bác sĩ và chuyên viên y tế uy tín, giàu kinh nghiệm và đam mê trong việc cung cấp chăm sóc sức khỏe chất lượng cao cho cộng đồng. Đội ngũ y tế của chúng tôi được đào tạo chuyên sâu và luôn sẵn lòng lắng nghe và tận tâm phục vụ nhu cầu y tế đa dạng của quý vị. Với sự chuyên nghiệp và tận tâm, họ cam kết đồng hành cùng quý vị trên hành trình bảo vệ và nâng cao sức khỏe.</p>
            <a href="about.html" class="btn-get-started scrollto">Xem thêm</a>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section>