<section id="services" class="services services">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Chuyên Khoa</h2>
        <p>Mang đến những dịch vụ y tế chất lượng nhất cho quý bệnh nhân</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon"><i class="fas fa-person-pregnant"></i></div>
          <h4 class="title"><a href="">Sản Phụ Khoa</a></h4>
          <p class="description">Dịch vụ chăm sóc sức khỏe cho phụ nữ mang thai và sau sinh, giúp đảm bảo sức khỏe của mẹ và em bé</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon"><i class="fas fa-heartbeat"></i></div>
          <h4 class="title"><a href="">Tim Mạch</a></h4>
          <p class="description">Chăm sóc và điều trị các bệnh lý về tim mạch để cải thiện chất lượng cuộc sống và sức khỏe toàn diện</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon"><i class="fas fa-lungs"></i></div>
          <h4 class="title"><a href="">Hô Hấp</a></h4>
          <p class="description">Chuyên khoa điều trị các bệnh lý về hệ hô hấp, giúp bệnh nhân thoải mái hơn khi hít thở</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon"><i class="fa fa-bacterium"></i></div>
          <h4 class="title"><a href="">Tiêu Hóa</a></h4>
          <p class="description">Chăm sóc và điều trị các vấn đề về tiêu hóa để cải thiện sức khỏe và chất lượng cuộc sống</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon"><i class="fas fa-baby"></i></div>
          <h4 class="title"><a href="">Nhi</a></h4>
          <p class="description">Đội ngũ bác sĩ chuyên nghiệp cung cấp dịch vụ chăm sóc sức khỏe toàn diện cho trẻ em</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon"><i class="fas fa-dna"></i></div>
          <h4 class="title"><a href="">Tế Bào Gốc và Công Nghệ Gen</a></h4>
          <p class="description">Sử dụng công nghệ tiên tiến nhất để điều trị và phục hồi sức khỏe từ bên trong cơ thể</p>
        </div>
      </div>
    </div>
  </section>