#toast-container > .toast-success {
    background-color: #51a351 !important;
    color: white !important;
    opacity: 1 !important;
}

#toast-container .toast-error {
    background-color: #d9534f !important;
    color: white !important;
    opacity: 1 !important;
}

.time-slot {
    border-radius: 10px;
    margin-right: 8px;
    margin-bottom: 15px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
}

.selected {
    background-color: #3fbbc0;
    color: white!important;
    border-color: #3fbbc0;
}
.time-slot.disabled {
    color: #ffffff;
    background-color: #012c2e;
    cursor: not-allowed;
    opacity: 0%;

}

#format-btn-date{
    width: 100%;
    display: flex;
}
.btn-select-day {
    border: 1px solid #cbcbcb !important;
    /*color: #535151 !important;*/
    margin-right: 10px!important;
    border-radius: 8px!important;
    padding: 12px!important;
    justify-content: center;
    align-items: center;
}

.btn-select-day:hover {
    background-color: #3fbbc0!important;
    color: white!important;
    border-color: #3fbbc0;
}

.date-format {
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center
}

#otherDay{
    width: 40%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ui-datepicker .ui-state-active {
    background-color: #3fbbc0 !important; /* Màu xanh dương nhạt */
    color: white !important; /* Màu chữ trắng */
}